body {
    min-width: 960px;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    background: #000000 url("../img/index/photo-back.jpg") no-repeat center top;
}


.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.main-header {
    margin-bottom: 57px;
    color: #ffffff;
    background-color: #000000;
    /*margin-bottom: 60px;*/
}

.main-navigation {
    float: left;
    width: 780px;
}


.main-navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
}

.main-navigation li {
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    line-height: 20px;
}

.main-navigation a {
    display: block;
    padding: 25px 20px;
    color: #ffffff;
    text-decoration: none; 
}

.main-navigation > a {
    float: left;
    width: 111px;
    height: 24px;
    padding: 23px 20px;
}



.main-navigation a:hover {
    background-color: #242424;
}

.user-block {
    float: right;
    max-width: 140px;
}

.login {
    position: relative;
    display: inline-block;
    padding: 25px 20px 25px 50px;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    text-decoration: none; 
}

.login::before {
    content: "";
    position: absolute;
    top: 27px;
    left: 20px;
    width: 18px;
    height: 16px;
    background: url("../img/index/sprite.png") no-repeat ;
    background-position: -10px -46px;
    opacity: 0.3;
}

.login:hover::before {
    opacity: 1;
}

.user-block a:hover {
    background-color: #242424;
}

.index-logo {
    height: 204px;
    width: 368px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}

.index-logo img {
    height: 204px;
    width: 368px;
}

.features {
    margin-bottom: 80px;
}

.features-item {
    float: left;
    width: 300px;
    margin-right: 20px;
    text-align: center;
}

.features-item:last-child {
    margin-right: 0;
}

.features-name {
    position: relative;
    display: block;
    margin-bottom: 30px;
    padding-bottom: 35px;
    font-size: 30px;
    line-height: 40px;
}

.features-name::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    width: 20px;
    height: 20px;
    margin-left: -10px;
    background-color: #ffffff;
    transform: rotate(45deg);
}
.features-item p {
    margin: 10px;
    margin-bottom: 0;
}

.index-content {
    padding: 50px 80px;
    margin-bottom: 35px;
    color: #000000;
    background: url("../img/index/shadow-stripe.png") no-repeat center, #f8f5f2 url("../img/index/pattern.png") repeat;
}

.index-content-left {
    float: left;
    width: 380px;
}

.index-content-right {
    float: right;
    width: 300px;
}

.index-content-title {
    margin: 0;
    margin-bottom: 30px;
    font-size: 30px;
    line-height: 40px;
}

.index-content p {
    margin: 0;
    margin-bottom: 30px;
}

.news-preview {
    margin: 0;
    padding: 0;
    padding-right: 70px;
    list-style: none;
}

.news-preview li {
    margin-bottom: 30px;
}

.news-preview p {
    margin-bottom: 0;
}

.news-preview time {
    text-transform: none;
    font-weight: normal;
}

.btn {
    display: inline-block;
    margin-right: 16px;
    padding: 10px 33px;
    text-align: center;
    vertical-align: top;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #000000;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.btn:hover,
.btn:active {
    background-color: #663d15;
}

.btn.disabled,
.btn:disabled {
    cursor: default;
    opacity: 0.5;
}

.btn.disabled:hover,
.btn:disabled:hover {
    background-color: #000000;
}

.gallery {
    position: relative;
    width: 300px;
    height: 265px;
}

.gallery-content {
    height: 164px;
    margin: 0;
    background-color: #cccccc;
    border: 7px solid #ffffff;
}

.gallery-content img {
    height: 164px;
    width: 286px;
}

.gallery .btn {
    position: absolute;
    bottom: 0;
    width: 140px;
    margin: 0;
}

.gallery-prev {
    left: 0;
}

.gallery-next {
    right: 0;
}

.appointment-form input {
    float: left;
    width: 106px;
    margin-bottom: 19px;
    margin-right: 20px;
    padding: 7px 15px;
    font-size: 14px;
    line-height: 24px;
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    color: #000000;
    text-transform: uppercase;
    background-color: #f9f6f3;
    border: 2px solid black;
    outline: none;
}

.appointment-form input:focus {
    border: 2px solid #663d15;
}

.appointment-form input:nth-child(2n) {
    margin-right: 0;
}

.appointment-form .btn {
    clear: both;
    width: 100%;
}

.main-footer {
    margin-top: 65px;
    padding-top: 60px;
    padding-bottom: 40px; 
    color: #ffffff;
    background: #252525 url("../img/index/pattern-dark.png");
}

.footer-contacts {
    float: left;
    width: 320px;
    margin-right: 60px;
    min-height: 90px;
}

.footer-contacts a {
    color: #ffffff;
}

.footer-contacts a:hover {
    text-decoration: none;
}

.footer-social {
    float: left;
    width: 180px;
    text-align: center;
}


.footer-copyright {
    float: right;
    max-width: 180px;
}

.footer-copyright p {
    margin: 0;
    margin-bottom: 15px;
    text-align: center;
}

.footer-copyright .btn {
    margin-right: 0;
}

.footer-social p {
    margin: 0;
    margin-bottom: 15px;
    text-align: center;
}

.social-btn {
    display: inline-block;
    width: 43px;
    height: 43px;
    margin: 0 2px;
    font-size: 0;
    vertical-align: top;
    text-decoration: none;
    background: #000000 url("../img/index/sprite.png") no-repeat center;
}

.social-btn:hover {
    background-color: #ffffff;
}

.social-btn-vk {
    background-position: 0px -430px;
}

.social-btn-fb {
    background-position: 3px -235px;
}

.social-btn-inst {
    background-position: 0px -317px;
}

.social-btn-vk:hover {
    background-position: 0px -393px;
}

.social-btn-fb:hover {
    background-position: 3px -192px;
}

.social-btn-inst:hover {
    background-position: 0px -274px;
}
.page-navigation {
    margin-bottom: 55px;
    min-height: 75px;
}

.item-content-left {
    float: left;
    width: 460px;
}

.item-content-right {
    float: right;
    width: 390px;
}

.sidebar {
    float: left;
    width: 220px;
    min-height: 580px;
}

.shop-block-right {
    float: right;
    width: 700px;
    min-height: 680px;
}

.price {
}

.price-left {
    float: left;
    width: 380px;
    min-height: 430px;
    background-color: #d5d5d5;
}

.price-right {
    float: right;
    width: 460px;
    min-height: 430px;
    background-color: #d5d5d5;
}